name: Conventional Commits Validation

on:
  push:
    branches:
      - 'features/*'
      - 'hotfix/*'

jobs:
  validateCommits:
    runs-on: ubuntu-latest
    steps:
      - name: vérifier le commits
        if: (!startsWith(github.event.head_commit.message, 'fix:' ) && !startsWith(github.event.head_commit.message, 'feat:') && !startsWith(github.event.head_commit.message, 'docs:'))
        run: echo "Vous ne suivez pas les règles des commits conventionnels" && exit 1 